@import "components/layout";

body.namespace-seopage {
    background: url("../img/bg.jpg");
}

.namespace-seopage {
    .seo-page {
        background: white;
    }

    .inner-row {
        margin-top: 0;
    }

    .row {
        padding-top: 0;
    }
}
