<div class="sp-banner-3 hidden">
    <div class="sp-inner-container clearfix">
        <div class="left">
            <div class="text-1">Продвижение сайтов</div>
            <div class="text-2">Ваш сайт</div>
            <div class="text-3">
                <div class="big">ТОП 5-10</div>
                <div class="small">поисковиков</div>
                <a href="#" class="sp-btn">Получить расчёт</a>
            </div>
        </div>

        <div class="right">
            <ul class="sp-list">
                <li>Анализ конкурентов и подбор целевых поисковых фраз</li>
                <li>Закрепление сайта в поисковой выдаче на верхних позициях</li>
                <li>Улучшение сайта - повышение эффективности взаимодействия с клиентом</li>
            </ul>
        </div>
    </div>
</div>