<div class="sp-banner sp-banner-1">
    <div class="sp-inner-container clearfix">
        <header class="sp-header">
            Целевые звонки с сайта, <br>
            Комплексная реклама
        </header>

        <ul class="sp-list">
            <li>Контекстная реклама</li>
            <li>Доски объявлений</li>
            <li>Рекламные партнёрские сети Яндекс</li>
            <li>RTB и медийная реклама</li>
        </ul>

        <a href="#" class="sp-btn" data-modal="#callback">Получить расчёт</a>
    </div>
</div>