<div class="sp-banner sp-banner-2">
    <div class="sp-inner-container clearfix">
        <div class="left">
            <div class="text-1">содание продающего сайта</div>
            <div class="text-2">Лендинг страница или полноценный сайт</div>
            <a href="#" class="sp-btn" data-modal="#callback">Получить расчёт</a>
        </div>

        <div class="right">
            <ul class="sp-list">
                <li>Управляемый сайт-визитка или посадочная страница</li>
                <li>Эффективный продающий дизайн</li>
                <li>Визуализация предложения или акции</li>
                <li>Большой набор средств завлечения клиента</li>
            </ul>
        </div>
    </div>
</div>