<div id="clients" class="sp-clients-row">
    <header class="sp-clients-header">Наши клиенты</header>

    <div class="clearfix">
        <div class="left">
            <div class="client selected" data-title="Комплекс посёлков “Долина имений”" data-url="http://dolina-imeniy.ru/">
                <img src="../img/logos/dolina.png" alt="" width="148" height="71">
            </div>

            <div class="client" data-title="Заголовок 1" data-url="http://google.com">
                <img src="../img/logos/xcmg.png" alt="" width="184" height="70">
            </div>

            <div class="client" data-title="Заголовок 2" data-url="http://google.com">
                <img src="../img/logos/farm.png" alt="" width="97" height="70">
            </div>

            <div class="client" data-title="Заголовок 3" data-url="http://google.com">
                <img src="../img/logos/atrium.png" alt="" width="140" height="70">
            </div>

            <div class="client" data-title="Заголовок 4" data-url="http://google.com">
                <img src="../img/logos/npp.png" alt="" width="143" height="71">
            </div>

            <div class="client" data-title="Заголовок 5" data-url="http://google.com">
                <img src="../img/logos/borov.png" alt="" width="143" height="71">
            </div>

            <div class="client" data-title="Заголовок 6" data-url="http://google.com">
                <img src="../img/logos/green-wood.png" alt="" width="143" height="71">
            </div>
        </div>

        <div class="right">
            <div id="sp-client-title" class="sp-client-title">Комплекс посёлков “Долина имений”</div>
            <div id="sp-client-url" class="sp-client-url">
                <a href="http://dolina-imeniy.ru/">http://dolina-imeniy.ru/</a>
            </div>
        </div>
    </div>

</div>