<footer class="page-footer">
    <div class="container">

        <ul id="menu-ddlab-1" class="footer-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-32"><a title="что мы предлагаем" href="http://www.ddlab.ru/uslugi/">Услуги</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-category-ancestor current-menu-ancestor current-menu-parent current-category-parent menu-item-has-children menu-item-33"><a title="сколько стоят услуги" href="http://www.ddlab.ru/resheniya/">Цены и решения</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a title="посмотреть как мы делаем" href="http://www.ddlab.ru/portfolio/">Портфолио</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-35"><a title="кто мы и как работаем" href="http://www.ddlab.ru/kompaniya/">Компания</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a title="как с нами связаться" href="http://www.ddlab.ru/kontakti">Контакты</a></li>
        </ul>
    </div>
</footer>