<div class="sp-plans-row">
    <div class="sp-plan-item sp-plan-item-1">
        <div class="sp-plan-img">
            <img src="/img/social.png" alt="" width="69" height="73">
        </div>

        <div class="sp-plan-head">
            <strong>Контекстная реклама</strong>
        </div>

        <div class="services">
            <div class="sp-plan-element border-bottom">Гибкая настройка объявлений под Ваших клиентов</div>
            <div class="sp-plan-element border-bottom">Быстрый запуск рекламы</div>
            <div class="sp-plan-element border-bottom">Звонки уже с 1-го дня работы рекламы</div>
            <div class="sp-plan-element">Самая объёмная рекламная сеть в России и СНГ</div>
        </div>

        <div class="hover">
            <div class="sp-plan-img">
                <img src="/img/social-hover.png" alt="" width="69" height="73">
            </div>

            <div class="sp-plan-head">
                Стоимость: <br>
                <strong>от 30 000 руб.</strong> <br>
                в месяц
            </div>

            <div class="services">
                <div class="sp-plan-element with-border">Заказать услугу на 30 000 - 60 000 руб.</div>
                <div class="sp-plan-element with-border">Заказать услугу на 50 000 - 100 000 руб.</div>
                <div class="sp-plan-element with-border">Заказать услугу на 100 000 - 200 000 руб.</div>
            </div>
        </div>
    </div>

    <div class="sp-plan-item sp-plan-item-1">
        <div class="sp-plan-img">
            <img src="/img/social.png" alt="" width="69" height="73">
        </div>

        <div class="sp-plan-head">
            <strong>Контекстная реклама</strong>
        </div>

        <div class="services">
            <div class="sp-plan-element border-bottom">Гибкая настройка объявлений под Ваших клиентов</div>
            <div class="sp-plan-element border-bottom">Быстрый запуск рекламы</div>
            <div class="sp-plan-element border-bottom">Звонки уже с 1-го дня работы рекламы</div>
            <div class="sp-plan-element">Самая объёмная рекламная сеть в России и СНГ</div>
        </div>

        <div class="hover">
            <div class="sp-plan-img">
                <img src="/img/social-hover.png" alt="" width="69" height="73">
            </div>

            <div class="sp-plan-head">
                Стоимость: <br>
                <strong>от 30 000 руб.</strong> <br>
                в месяц
            </div>

            <div class="services">
                <div class="sp-plan-element with-border">Заказать услугу на 30 000 - 60 000 руб.</div>
                <div class="sp-plan-element with-border">Заказать услугу на 50 000 - 100 000 руб.</div>
                <div class="sp-plan-element with-border">Заказать услугу на 100 000 - 200 000 руб.</div>
            </div>
        </div>
    </div>

</div>