<div class="sp-plans-row with-padding">
    <div class="sp-plan-item sp-plan-item-1">
        <div class="sp-plan-img">
            <img src="/img/social.png" alt="" width="69" height="73">
        </div>

        <div class="sp-plan-head">Контекстная реклама</div>

        <div class="services">
            <div class="sp-plan-element border-bottom">Гибкая настройка объявлений под Ваших клиентов</div>
            <div class="sp-plan-element border-bottom">Быстрый запуск рекламы</div>
            <div class="sp-plan-element border-bottom">Звонки уже с 1-го дня работы рекламы</div>
            <div class="sp-plan-element">Самая объёмная рекламная сеть в России и СНГ</div>
        </div>

        <div class="hover">
            <div class="sp-plan-img">
                <img src="/img/social-hover.png" alt="" width="69" height="73">
            </div>

            <div class="sp-plan-head">
                Стоимость: <br>
                <strong>от 30 000 руб.</strong> <br>
                в месяц
            </div>

            <div class="services">
                <a href="#" class="sp-plan-element with-border">Заказать услугу на <br> 30 000 - 60 000 руб.</a>
                <a href="#" class="sp-plan-element with-border">Заказать услугу на <br> 50 000 - 100 000 руб.</a>
                <a href="#" class="sp-plan-element with-border">Заказать услугу на <br> 100 000 - 200 000 руб.</a>
            </div>
        </div>
    </div>

    <div class="sp-plan-item sp-plan-item-2">
        <div class="sp-plan-img">
            <img src="/img/rocket.png" alt="" width="70" height="70">
        </div>

        <div class="sp-plan-head">Медийная реклама и RTB</div>

        <div class="services">
            <div class="sp-plan-element border-bottom">Создание эффективных баннеров</div>
            <div class="sp-plan-element border-bottom">Настройка медийной рекламы</div>
            <div class="sp-plan-element border-bottom">Тонкий таргетинг по запросам и предпочтениям клиента</div>
            <div class="sp-plan-element border-bottom">Поддержка и развитие бренда</div>
            <div class="sp-plan-element">Привлечение новой аудитории</div>
        </div>

        <div class="hover">
            <div class="sp-plan-img">
                <img src="/img/rocket-hover.png" alt="" width="70" height="70">
            </div>

            <div class="sp-plan-head">
                Стоимость: <br>
                <strong>от 50 000 руб.</strong> <br>
                в месяц
            </div>

            <div class="services">
                <div class="sp-plan-element">Входит разработка медиа-материалов</div>
            </div>
        </div>
    </div>

    <div class="sp-plan-item sp-plan-item-3">
        <div class="sp-plan-img">
            <img src="/img/earth.png" alt="" width="69" height="69">
        </div>

        <div class="sp-plan-head">Продвижение сайтов</div>

        <div class="services">
            <div class="sp-plan-element border-bottom">Подбор ключевых слов</div>
            <div class="sp-plan-element border-bottom">Модификация сайта с целью устранения ошибок оптимизации SEO</div>
            <div class="sp-plan-element border-bottom">Проверка контента сайта и наполнение</div>
            <div class="sp-plan-element border-bottom">Написание нового релевантного контента для сайта</div>
            <div class="sp-plan-element">Работа со ссылками и внешними ресурсами</div>
        </div>

        <div class="hover">
            <div class="sp-plan-img">
                <img src="/img/earth-hover.png" alt="" width="69" height="69">
            </div>

            <div class="sp-plan-head">
                Стоимость: <br>
                <strong>от 20 000 руб.</strong> <br>
                в месяц
            </div>

            <div class="services">
                <div class="sp-plan-element">Входит бесплатная поддержка сайта</div>
            </div>
        </div>
    </div>

    <div class="sp-plan-item sp-plan-item-4">
        <div class="sp-plan-img">
            <img src="/img/social.png" alt="" width="69" height="73">
        </div>

        <div class="sp-plan-head">Социальные сети</div>

        <div class="services">
            <div class="sp-plan-element border-bottom">Создание и администрирование группы в социальной сети</div>
            <div class="sp-plan-element border-bottom">Постинг в группу каждые 2-3 дня</div>
            <div class="sp-plan-element border-bottom">Улучшение узнаваемости бренда</div>
            <div class="sp-plan-element border-bottom">Привлечение подписчиков</div>
            <div class="sp-plan-element">Реклама в социальной сети</div>
        </div>

        <div class="hover">
            <div class="sp-plan-img">
                <img src="/img/social-hover.png" alt="" width="69" height="73">
            </div>

            <div class="sp-plan-head">
                Стоимость: <br>
                <strong>от 20 000 руб.</strong> <br>
                в месяц
            </div>

            <div class="services">
                <div class="sp-plan-element with-border">Заказать услугу на <br> 16 000 - 20 000 руб.</div>
                <div class="sp-plan-element with-border">Заказать услугу на <br> 20 000 - 30 000 руб.</div>
                <div class="sp-plan-element with-border">Заказать услугу на <br> 30 000 - 50 000 руб.</div>
            </div>
        </div>
    </div>

    <div class="sp-plan-item sp-plan-item-5">
        <div class="sp-plan-img">
            <img src="/img/comp.png" alt="" width="79" height="63">
        </div>

        <div class="sp-plan-head">Создание сайтов</div>

        <div class="services">
            <div class="sp-plan-element border-bottom">Сайты-визитки, посадочные страницы для продаж</div>
            <div class="sp-plan-element border-bottom">Корпоративные сайты с полным набором функций</div>
            <div class="sp-plan-element border-bottom">Каталоги услуг или товаров</div>
            <div class="sp-plan-element border-bottom">Полное редактирование и управление сайтом</div>
            <div class="sp-plan-element">Индивидуальный дизайн или шаблон</div>
        </div>

        <div class="hover">
            <div class="sp-plan-img">
                <img src="/img/comp-hover.png" alt="" width="79" height="63">
            </div>

            <div class="sp-plan-head">
                Стоимость: <br>
                <strong>от 16 000 руб.</strong> <br>
                в месяц
            </div>

            <div class="services">
                <div class="sp-plan-element with-border">Заказать услугу на <br> 16 000 - 20 000 руб.</div>
                <div class="sp-plan-element with-border">Заказать услугу на <br> 20 000 - 30 000 руб.</div>
                <div class="sp-plan-element with-border">Заказать услугу на <br> 30 000 - 50 000 руб.</div>
            </div>
        </div>
    </div>

</div>