<div class="sp-steps-row">
    <div class="left">
        <div class="sp-steps-header">Этапы работы</div>

        <ul class="sp-steps">
            <li class="sp-step">
                <header class="sp-step-header">Заголовок этапа 1</header>
                <div class="sp-step-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
            </li>
            <li class="sp-step">
                <header class="sp-step-header">Заголовок этапа 2</header>
                <div class="sp-step-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
            </li>
            <li class="sp-step">
                <header class="sp-step-header">Заголовок этапа 3</header>
                <div class="sp-step-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
            </li>
            <li class="sp-step sp-step-success">
                <header class="sp-step-header">Заголовок этапа 4</header>
                <div class="sp-step-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
            </li>
        </ul>
    </div>

    <div class="right">
        <div class="sp-steps-header">Запросить коммерческое предложение</div>

        <form action="#" class="sp-form">
            <div class="sp-form-group">
                <input type="text" class="sp-form-control" name="field1" value="">
            </div>
            <div class="sp-form-group">
                <input type="text" class="sp-form-control" name="field2" value="">
            </div>
            <div class="sp-form-group">
                <input type="text" class="sp-form-control" name="field3" value="">
            </div>
            <div class="sp-form-group">
                <select name="field4" class="sp-form-control">
                    <option value="1">Услуга</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="sp-submit">Отправить заявку</button>
            </div>
        </form>

    </div>
</div>